<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="page-header"><div class="text-center"><h1>Teams</h1></div></div>

  <div class="row">
    <% @teams = @teams.paginate(page: params[:page]).per_page(40).order('name ASC') %>
      <% @teams.each do |team| %>
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <%= link_to(team.name, team) %><br>
              Raised <%= team.amount_raised %>
              <% if can? :manage, :all %>
                <%= link_to 'Edit', edit_team_path(team) %>
                <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="text-center">
    <div class="pagination">
      <%= will_paginate @teams, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
  <% if can? :manage, :all %>
    <%= link_to 'Create a new team', new_team_path %>
  <% end %>
</div>