.container

  .page-header.text-center
    %h1 Teams

  .form-inline
    = form_tag(teams_path, :method => "get", id: "search-form") do
      .input-group
        = text_field_tag(:search, params[:search], class: "form-control input-md", placeholder: "Search teams...")
        %span.input-group-btn
          %button.btn.btn-default{type:"button"}
            %span.glyphicon.glyphicon-search{aria: {hidden:"true"}}
      - if can? :manage, :all
        / = link_to('Create a new team', new_team_path, class: "btn btn-primary btn-md")
    %br

  .row
    .col-md-4
      %h4 Sorority Division
      %table.table
        %th #
        %th Team
        %th Amount Raised
        - @sorority.each_with_index do |team, index|
          %tr
            %td= index+1
            %td= link_to team.name, team
            %td= number_to_currency(team.amount_raised) 
    .col-md-4
      %h4 Fraternity Division
      %table.table
        %th #
        %th Team
        %th Amount Raised
        - @fraternity.each_with_index do |team, index|
          %tr
            %td= index+1
            %td= link_to team.name, team
            %td= number_to_currency(team.amount_raised)
    .col-md-4
      %h4 Open Division
      %table.table
        %th #
        %th Team
        %th Amount Raised
        - @open.each_with_index do |team, index|
          %tr
            %td= index+1
            %td= link_to team.name, team
            %td= number_to_currency(team.amount_raised)

