<div class="container">

  <p id="notice"><%= notice %></p>

  <h1><%= @team.name %></h1>

  <h3>Dancers</h3>
  <ul>
    <% @team.dancers.each do |dancer| %>
     <li><%= link_to dancer.first_name, dancer %></li>
    <% end %>
  </ul>

  <%= @team.amount_raised %>

  <% if can? :manage, :all %>
    <%= link_to 'Edit', edit_team_path(@team) %>
  <% end %>
  
</div>