.container

  %h1
    = @team.name
    - if can? :manage, :all
      = link_to('Edit', edit_team_path(@team), class: "btn btn-default btn-md")
      = link_to('Delete team', @team, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-md")
  .panel.panel-default.panel-body
    %h4
      = @team.name
      has raised 
      %span.text-success= number_to_currency(@amount_raised)
    .text-muted
      Send a donation to 
      = @team.name
      to help their campaign!
    %hr
    .form-inline
      .form-group
        .input-group
          .input-group-addon $
          = text_field_tag :donation_amount, params[:donation_amount], class: "form-control", placeholder: "Amount", id: "total-amount-val"
          .input-group-addon .00
        %button{class: "btn btn-md btn-primary", id: "stripeButton"} Donate
        %span.action
          :javascript
            var handler = StripeCheckout.configure({
              key: "#{Rails.configuration.stripe[:publishable_key]}",
              locale: 'auto',
              token: function(token) {
                var tokenInput = $("<input type=hidden name=stripeToken />").val(token.id);
                var emailInput = $("<input type=hidden name=stripeEmail />").val(token.email);
                $("form").append(tokenInput).append(emailInput).submit();
              }
            });

            $('#stripeButton').on('click', function(e) {
              var amount = $("#total-amount-val").val();
              if(amount > 0) {
                handler.open({
                  name: "Donation to #{@team.name}",
                  amount: amount*100,
                  billingAddress: true
                });
              }
              e.preventDefault();
            });

            // Close Checkout on page navigation
            $(window).on('popstate', function() {
              handler.close();
            });
    %br
    .progress
      .progress-bar.progress-bar-success.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%"}
        40% from reaching the goal
  %h3 Dancers
  - @dancers = @team.dancers
  = render partial: "/dancers/profiles", object: @dancers