.container

  %h1
    = @team.name
    - if can? :manage, :all
      = link_to('Edit', edit_team_path(@team), class: "btn btn-default btn-md")
      = link_to('Delete team', @team, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-md")
  = @team.amount_raised
  raised
  %h3 Dancers
  - @team.dancers.each do |dancer|
    .col-md-2
      .thumbnail
        = image_tag(dancer.avatar.url)
        .text-center.caption
          %h4= link_to("#{dancer.first_name} #{dancer.last_name}", dancer)
          - if can? :manage, :all
            = link_to('Edit', edit_dancer_path(dancer), class: "btn btn-default btn-xs")
            = link_to('Delete', dancer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs")