.jumbotron
  %video#bgvid{:autoplay => true, :loop => true, :poster => "https://s3.amazonaws.com/wns-dancer-photos/wns-video.jpg"}
    %source{:src => "https://s3.amazonaws.com/wns-dancer-photos/wns-video.mp4", :type => "video/mp4"}
    %source{:src => "https://s3.amazonaws.com/wns-dancer-photos/wns-video.webm", :type => "video/webm; codecs=vp8),vorbis"}
    %img{src: "https://s3.amazonaws.com/wns-dancer-photos/photo_grid.jpg"}
  /[if lt IE 9]
    :javascript
      document.createElement('video');
  .container.text-center
    %br
    %h2 Support Our Dancers
    %p 100% of your donation goes to cancer research
    .row
      .col-md-4.col-md-offset-4
        .well.well-clear
          = form_tag ENV['PAYMENTURL'], :method => 'post', :authenticity_token => 'false' do
            .form-inline
              .form-group
                .input-group
                  %span.pre-input $
                  = text_field_tag "donation_amount", 10, class: "form-control input-lg donation-amount", id: "total-amount-val", autofocus: true, autocomplete: "off", value: 10
                  = hidden_field_tag "is_donation", "true"
                  = hidden_field_tag "charge_type", "All"
                  = hidden_field_tag "redirect_url", ENV['REDIRECTURL']
                  %span.post-input USD
                %br
                %br
                %button{class: "btn btn-block btn-lg btn-primary donation-amount-btn"}
                  %b Give by&nbsp;
                  %i.fa.fa-1x.fa-credit-card
        = link_to "or become a dancer", new_dancer_registration_path, class: "btn btn-md btn-default btn-sign-up"
- unless @events.empty?
  .events-ticker
    .container
      .row
        .col-md-2
          %h4.text-muted Upcoming Events
        .col-md-10
          %ul.list-unstyled.NewsTicker
            - @events.each do |event|
              %li
                %b= event.title
                \-
                = event.text
                %br
                %i.text-muted Time: 
                = event.date_time.strftime("%b %d at %l:%M %p")
                %i.text-muted Location: 
                = event.place
.container
  .row.text-center
    %br
    %h3 Welcome to Wake 'N Shake! Registration is now open!
    %hr
  .row
    .col-md-10.col-md-offset-1.text-center
      %br
      %p.lead Wake ‘N Shake is a 12-hour dance marathon held every spring at Wake Forest University, benefiting the Brian Piccolo Cancer Research Fund. For 12-hours, students, alumni, and faculty members come together to stay standing in support of all those affected by cancer, asking for donations in support of their participation.
      %br
  .row
    .col-md-6
      %h3 Top 10 Teams
      %table.table.table-bordered
        - @top_10_teams.each_with_index do |team, index|
          - if team.amount_raised > 0
            %tr
              %td.text-center
                %strong= "#{index+1}"
              %td= link_to(team.name, team)
              %td.text-success.text-center= number_to_currency(team.amount_raised)
    .col-md-6
      %h3 Top 10 Dancers
      %table.table.table-bordered
        - @top_10_dancers.each_with_index do |dancer, index|
          %tr
            %td.text-center
              %strong= "#{index+1}"
            %td= link_to("#{dancer.first_name} #{dancer.last_name}", dancer)
            %td.text-success.text-center=number_to_currency(dancer_amount_raised(dancer))
  .row
    %br
    %h2.text-center We Thank Our Sponsors
    %hr
    - @sponsors.each do |sponsor|
      .col-md-3
        .thumbnail
          = link_to image_tag(sponsor.logo.url(:medium), style: "height: 150px;")