:javascript
  $(function() {
    $('#names').vTicker();
  });
.jumbotron
  .container
    %h1
      .dancing_for_frame.hidden-xs
        %span.dance_for Dance for
        #names
          %ul
            - @dancing_for_list.each do |dancing_for|
              %li=dancing_for.dancing_for.split(" ")[0]
    %h3.lead.lead-text Who are you dancing for?
    - if current_dancer.nil?
      = link_to( "Become a dancer now!", new_dancer_registration_path , class: "btn btn-success btn-lg")
      %h5
        or 
        = link_to "donate", charges_path
        instead!
    - else
      %p= link_to "Send a donation", charges_path, class: "btn btn-primary btn-lg"
.container
  .row
    .col-md-4
      %br
      %p.lead Wake ‘N Shake is a 12-hour dance marathon held every spring at Wake Forest University, benefiting the Brian Piccolo Cancer Research Fund. For 12-hours, students, alumni, and faculty members come together to stay standing in support of all those affected by cancer, asking for donations in support of their participation.
      = link_to "Read more", controller: "about", action: "index", class: "lead"
    .col-md-4
      %h3 Top 10 Teams
      %table.table.table-bordered
        - @top_10_teams.each_with_index do |team, index|
          %tr
            %td.text-center
              %strong= "#{index+1}"
            %td= link_to(team.name, team)
            %td.text-success.text-center= number_to_currency(team_amount_raised(team))
    .col-md-4
      %h3 Top 10 Dancers
      %table.table.table-bordered
        - @top_10_dancers.each_with_index do |dancer, index|
          %tr
            %td.text-center
              %strong= "#{index+1}"
            %td= link_to("#{dancer.first_name} #{dancer.last_name}", dancer)
            %td.text-success.text-center=number_to_currency(dancer_amount_raised(dancer))
