.container
  .row.text-center
    %br
    %h3 Wake 'N Shake is now! Watch the live stream below!
    %br
    <div style="position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;">
    <iframe width="560" height="349" src="https://www.youtube.com/embed/W1HviOAn1ks?autoplay=1" frameborder="0" allowfullscreen style=" position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
    </div>
    %br
    %hr
  .row
    .col-md-10.col-md-offset-1.text-center
      %br
      %p.lead Wake ‘N Shake is a 12-hour dance marathon held every spring at Wake Forest University, benefiting the Brian Piccolo Cancer Research Fund. For 12-hours, students, alumni, and faculty members come together to stay standing in support of all those affected by cancer, asking for donations in support of their participation.
      %br
      %hr
  .container.text-center
    %br
    %h2 Support Our Dancers
    %p 100% of your donation goes to cancer research
    .row
      .col-md-4.col-md-offset-4
        .well.well-clear
          = form_tag ENV['PAYMENTURL'], :method => 'post', :authenticity_token => 'false' do
            .form-inline
              .form-group
                .input-group
                  %span.pre-input $
                  = text_field_tag "donation_amount", 10, class: "form-control input-lg donation-amount", id: "total-amount-val", autofocus: true, autocomplete: "off", value: 10
                  = hidden_field_tag "is_donation", "true"
                  = hidden_field_tag "charge_type", "All"
                  = hidden_field_tag "redirect_url", ENV['REDIRECTURL']
                  %span.post-input USD
                %br
                %br
                %button{class: "btn btn-block btn-lg btn-primary donation-amount-btn"}
                  %b Give by&nbsp;
                  %i.fa.fa-1x.fa-credit-card
  %br
  .row
    .col-md-6
      %h3 Top 10 Teams

      %table.table.table-bordered
        - @top_10_teams.each_with_index do |team, index|
          %tr
            %td.text-center
              %strong= "#{index+1}"
            %td= link_to(team.name, team)
            %td.text-success.text-center= number_to_currency(team.amount_raised)
    .col-md-6
      %h3 Top 10 Dancers
      %table.table.table-bordered
        - @top_10_dancers.each_with_index do |dancer, index|
          %tr
            %td.text-center
              %strong= "#{index+1}"
            %td= link_to("#{dancer.first_name} #{dancer.last_name}", dancer)
            %td.text-success.text-center=number_to_currency(dancer_amount_raised(dancer))
  .row
    %br
    %h2.text-center We Thank Our Sponsors
    %hr
    %br
    - @sponsors.each do |sponsor|
      .col-md-3
        .thumbnail
          = link_to image_tag(sponsor.logo.url(:medium), style: "min-height: 150px; max-height: 150px;")