.container
  %br
  %h1.text-center Sign Up
  %br
  .row
    .col-md-3
    .col-md-6
      .well
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          - devise_error_messages!
          .row
            .form-group
              =label :first_name
              = f.text_field(:first_name, autofocus: true, id: "first_name", class: "form-control", placeholder: "Enter your first name")
            .form-group
              =label :last_name
              = f.text_field(:last_name, id: "last_name", class: "form-control", placeholder: "Enter your last name")
            .form-group
              =label :email
              = f.email_field(:email, id: "email", class: "form-control", placeholder: "Enter your email")
            .form-group
              =label :password
              - if @minimum_password_length
                .small.text-muted
                  = @minimum_password_length
                  characters minimum
              = f.password_field(:password, id: "password", class: "form-control", autocomplete: "off", placeholder: "Enter a new password")
            .form-group
              =label :sex
              .btn-group{data:{toggle: "buttons"}}
                .btn.btn-primary.btn-sm
                  Male
                  = f.radio_button :gender, "Male"
                .btn.btn-primary.btn-sm
                  Female
                  = f.radio_button :gender, "Female"
            .form-group
              =label :year
              = select_tag(:year,'<option value="1">Select your year</option>', id: "year", class: "form-control")
            .form-group
              =label :tshirt
              = select_tag(:year,'<option value="1">Select your year</option>', id: "year", class: "form-control")
            .form-group
              =label :avatar
              = f.file_field :avatar

          .actions
            = button_tag(type: 'submit', class: "btn btn-success btn-md btn-block") do
              %i.icon-ok.icon-white
              Submit
  .col-md-3
