.container
  %br
  %h1.text-center Sign Up
  %br
  .row
    .col-md-3
    .col-md-6
      .well
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          - devise_error_messages!
          .row
            .form-group
              %label.label{for: "first_name"} First Name
              = f.text_field(:first_name, autofocus: true, id: "first_name", class: "form-control", placeholder: "Enter your first name")
            .form-group
              %label.label{for: "last_name"} Last Name
              = f.text_field(:last_name, id: "last_name", class: "form-control", placeholder: "Enter your last name")
            .form-group
              %label.label{for: "email"} Email address
              = f.email_field(:email, id: "email", class: "form-control", placeholder: "Enter your email")
            .form-group
              %label.label{for: "password"} Password
              - if @minimum_password_length
                .small
                  = @minimum_password_length
                  characters minimum
              = f.password_field(:password, id: "password", class: "form-control", autocomplete: "off", placeholder: "Enter a new password")
            .form-group
              = f.password_field(:password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm your password")
            .form-group
              %label.label{for: "sex"} Gender
              .btn-group
                = radio_button_tag(:gender, "male")
                = label_tag(:gender_male, "Male")
                = radio_button_tag(:gender, "female")
                = label_tag(:gender_female, "Female")
            .form-group
              %label.label{for: "year"} Year
              = select_tag(:year,'<option value="1">Select your year</option>', id: "year", class: "form-control")
            .form-group
              %label.label{for: "tshirt"} T-Shirt Size
              = select_tag(:year,'<option value="1">Select your year</option>', id: "year", class: "form-control")
            .form-group
              %label.label{for: "avatar"} Profile picture
              = f.file_field :avatar

          .actions
            = button_tag(type: 'submit', class: "btn btn-success btn-lg btn-block") do
              %i.icon-ok.icon-white
              Submit
  .col-md-3
