<div class="container">
  <br><div class="text-center"><h1>Sign Up</h1></div><br>
  <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="well">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

      <div class="row">
        <div class="form-group">
          <label for="first_name" class="text-uppercase">First Name</label>
          <%= f.text_field :first_name, autofocus: true, id: "first_name", class: "form-control input-lg", placeholder: "Enter your first name" %>
        </div>
        <div class="form-group">
          <label for="last_name" class="text-uppercase">Last Name</label>
          <%= f.text_field :last_name, id: "last_name", class: "form-control input-lg", placeholder: "Enter your last name" %>
        </div>
        <div class="form-group">
          <label for="email" class="text-uppercase">Email address</label>
          <%= f.email_field :email, id: "email", class: "form-control input-lg", placeholder: "Enter your email" %>
        </div>
        <div class="form-group">
          <label for="password" class="text-uppercase">Password</label>
          <% if @minimum_password_length %>
          <div class="help-block"><%= @minimum_password_length %> characters minimum</div>
          <% end %>
          <%= f.password_field :password, id: "password", class: "form-control input-lg", autocomplete: "off", placeholder: "Enter a new password" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-lg", placeholder: "Confirm your password" %>
        </div>
        <div class="form-group">
          <label for="sex" class="text-uppercase">Gender</label>
          <div class="form-group" id="sex">
            <%= radio_button_tag(:gender, "male") %>
            <%= label_tag(:gender_male, "Male") %>
            <%= radio_button_tag(:gender, "female") %>
            <%= label_tag(:gender_female, "Female") %>
          </div>
        </div>
        <div class="form-group">
          <label for="year" class="text-uppercase">Year</label>
          <%= select_tag(:year,'<option value="1">Select your year</option>', id: "year", class: "form-control input-lg") %>
        </div>
        <div class="form-group">
          <label for="tshirt" class="text-uppercase">T-Shirt Size</label>
          <%= select_tag(:year,'<option value="1">Select your year</option>', id: "year", class: "form-control input-lg") %>
        </div>
        <div class="form-group">
          <label for="avatar" class="text-uppercase">Profile picture</label>
          <%= f.file_field :avatar %>
        </div>

        <div class="actions">
          <%= button_tag(type: 'submit', class: "btn btn-success btn-lg btn-block") do %>
            <i class="icon-ok icon-white"></i> Submit
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-md-3"></div>
  </div>
</div>
