= form_for(@history) do |f|
  - if @history.errors.any?
    #error_explanation
      %h2
        = pluralize(@history.errors.count, "error")
        prohibited this history from being saved:

      %ul
        = @history.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :theme, class: "label"
    = f.text_field :theme, class: "form-control"
  .field
    = f.label :year, class: "label"
    = f.datetime_select :year, class: "form-control"
  .field
    = f.label :overview, class: "label"
    = f.text_area :overview, class: "form-control", rows: 10
  .field
    = f.label :amount_raised, class: "label"
    = f.text_field :amount_raised, class: "form-control"
  .field
    = f.label :num_of_dancers, class: "label"
    = f.text_field :num_of_dancers, class: "form-control"
  .field
    = f.label :photo, class: "label"
    = f.file_field :photo
  %br
  .actions
    = f.submit "Save", class: "btn btn-md btn-success"
