<div class="container">
  <div class="page-header">
    <div class="text-center">
      <h1>Our History</h1>
      <p>Wake 'N Shake has been Wake Forest's top charity event for the past decade</p>
    </div>
  </div>

  <p id="notice"><%= notice %></p>

  <% @histories.each do |history| %>
    <div class="row">
      <div class="col-md-7">
        <%= image_tag history.photo.url %>
      </div>
      <div class="col-md-5">
        <h3><%= history.year.year %> | <%= history.theme %></h3>
        <p class="lead"><%= history.num_of_dancers %> dancers, <%= history.amount_raised %> raised</p>
        <p><%= history.overview %></p>
        <%= link_to 'Edit', edit_history_path(history) %>
        <%= link_to 'Delete', history, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>

  <%= link_to 'New History Entry', new_history_path %>

</div>