<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @history.name %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @history.theme %>
</p>

<p>
  <strong>Year:</strong>
  <%= @history.year %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @history.overview %>
</p>

<p>
  <strong>Amount raised:</strong>
  <%= @history.amount_raised %>
</p>

<p>
  <strong>Num of dancers:</strong>
  <%= @history.num_of_dancers %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
