.container
  %h1.text-center.page-header Thank you to our sponsors! Below are the sponsors who have joined our fight against cancer. Together, we all make a difference.
  - if can? :manage, :all
    = link_to 'New Sponsor', new_sponsor_path, class: "btn btn-md btn-primary"
  %h3 Corporate Sponsors
  %br
  - @sponsors.where(food: false).each do |sponsor|
    .col-md-3
      .thumbnail
        = link_to image_tag(sponsor.logo.url(:medium), style: "min-height: 150px; max-height: 150px;")
        - if can? :manage, :all
          .text-center
            = link_to "Edit", edit_sponsor_path(sponsor), class: "btn btn-xs btn-default"
            = link_to "Delete", sponsor, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger"
  %br{style: "clear: both;"}
  %h3 Food Sponsors
  %br
  - @sponsors.where(food: true).each do |sponsor|
    .col-md-3
      .thumbnail
        = link_to image_tag(sponsor.logo.url(:medium), style: "min-height: 150px; max-height: 150px;")
        - if can? :manage, :all
          .text-center
            = link_to "Edit", edit_sponsor_path(sponsor), class: "btn btn-xs btn-default"
            = link_to "Delete", sponsor, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger"
