.container
  %br/
  .row
    .col-md-4
    .col-md-4
      .well
        .text-center
          %h1 Log In
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = f.label :email, class: "text-uppercase"
            %br/
            = f.email_field :email, autofocus: true, class: "form-control input-md", placeholder: "Enter your email"
          .field
            = f.label :password, class: "text-uppercase"
            %br/
            = f.password_field :password, autocomplete: "off", class: "form-control input-md", placeholder: "Enter your password"
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me, class: "form-control"
              = f.label :remember_me
          .actions
            = button_tag(type: 'Log In', class: "btn btn-success btn-md btn-block") do
              Submit
        = render "devise/shared/links"
    .col-md-4
