<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="well">
  <%= form_for(@dancer) do |f| %>
    <% if @dancer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@dancer.errors.count, "error") %> stopped you from signing up:</h2>

        <ul>
        <% @dancer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <%= f.text_field :first_name, class: "form-control input-lg", placeholder: "First Name" %><br>
      <%= f.text_field :last_name, class: "form-control input-lg", placeholder: "Last Name" %><br>
      <%= f.email_field :email_address, class: "form-control input-lg", placeholder: "Email Address" %><br>
      <%= f.password_field :password, class: "form-control input-lg", placeholder: "Password" %><br>
      <%= select_tag(:year,'<option value="1">Select your year</option>', class: "form-control input-lg") %><br>
      <%= text_area_tag(:bio, "hi", size: "30x6", class: "form-control input-lg")%><br>

      <div class="actions">
        <%= button_tag(type: 'submit', class: "btn btn-success btn-lg") do %>
          <i class="icon-ok icon-white"></i> Submit
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div class="col-md-3"></div>
</div>