.container
  .page-header.text-center
    %h1 Dancers
  - if params[:search].nil?
    .row
      %h3
        %i.fa.fa-star.text-warning
        Top 6 Dancers
      = render partial: "profiles", locals: {object: @top_6_dancers}
    %hr
  .row
    %h3 All Dancers
  .row
    .col-xs-4
      .form-inline
        = form_tag(dancers_path, :method => "get", id: "search-form") do
          .input-group
            = text_field_tag(:search, params[:search], class: "form-control input-md", placeholder: "Search dancers...")
            %span.input-group-btn
              %button.btn.btn-default{type:"button"}
                %span.glyphicon.glyphicon-search{aria: {hidden:"true"}}
  .row
    %br
    - @dancers = @dancers.paginate(page: params[:page]).per_page(24)
    = render partial: "profiles", locals: {object: @dancers}
  .pagination.pagination-centered
    = will_paginate(@dancers, renderer: BootstrapPagination::Rails)
