.container
  .page-header.text-center
    %h1 Dancers
  .row
    .col-md-4
      .form-inline
        = form_tag(dancers_path, :method => "get", id: "search-form") do
          .input-group
            = text_field_tag(:search, params[:search], class: "form-control input-md", placeholder: "Search dancers...")
            %span.input-group-btn
              %button.btn.btn-default{type:"button"}
                %span.glyphicon.glyphicon-search{aria: {hidden:"true"}}
      %br
  .row
    - @dancers = @dancers.paginate(page: params[:page]).per_page(24).order('amount_raised DESC')
      - @dancers.each do |dancer|
      .col-md-2
        = link_to dancer do
          .thumbnail.thumbnail-fixed-height
            .profile-spaced
              = image_tag(dancer.avatar.url, size: "150", class: "profile-spaced center-block img-responsive")
            .text-center.caption
              %h4= "#{dancer.first_name} #{dancer.last_name}"
              - if can? :manage, :all
                = link_to('Edit', edit_dancer_path(dancer), class: "btn btn-default btn-xs")
                = link_to('Delete', dancer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs")
  .pagination.pagination-centered
    = will_paginate(@dancers, renderer: BootstrapPagination::Rails)
