.container
  %p#notice= notice

  .page-header.text-center
    %h1 Dancers

  .row
    .col-md-4
      - form_tag(dancers_path, method: "get", class: "input-group", id: "search-form") do
        = text_field_tag(:search, params[:search], class: "form-control", placeholder: "Search Dancers")
        %span.input-group-btn
          %button.btn.btn-default{type: "button"}
            %span.glyphicon.glyphicon-search{ aria:{hidden: "true"}}
      %br
  .row
    - @dancers = @dancers.paginate(page: params[:page]).per_page(28).order('amount_raised DESC')
      - @dancers.each do |dancer|
      .col-md-3
        .thumbnail
          = image_tag(dancer.avatar.url, class: "img-rounded")
          .text-center.caption
            %h4= link_to("#{dancer.first_name} #{dancer.last_name}", dancer)
            - if can? :manage, :all
              = link_to('Edit', edit_dancer_path(dancer))
              |
              = link_to('Delete', dancer, method: :delete, data: { confirm: 'Are you sure?' })
  .text-center.pagination
    = will_paginate(@dancers, renderer: BootstrapPagination::Rails)
