.container
  .col-md-3
    %br
    =image_tag(@dancer.avatar.url, size: "190", class: "img-rounded center-block")
    %p
      %hr
      %b Year:
      Sophomore
      %br
      %b Dancing for:
      =@dancer.dancing_for
      %br
      %b Bio:
      =@dancer.bio
    %hr
    %h2
      .fa.fa-facebook-square
      .fa.fa-twitter-square
      .fa.fa-google-plus-square
      .fa.fa-share-alt-square
  .col-md-8
    %h2
      = @dancer.first_name
      = @dancer.last_name
      %small= link_to(@dancer.team.name, @dancer.team)
      %br
      - if can? :manage, :all
        = link_to('Edit', edit_dancer_path(@dancer), class: "btn btn-default btn-sm")
        = link_to('Delete this dancer', @dancer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm")
    .panel.panel-default.panel-body
      %h4
        = @dancer.first_name
        has raised 
        %span.text-success= number_to_currency(@dancer.amount_raised)
      .text-muted
        Send a donation to 
        = @dancer.first_name
        to help
        - if @dancer.gender == "male"
          his
        - else
          her
        campaign!
      %hr
      .form-inline
        .form-group
          .input-group
            .input-group-addon $
            = text_field_tag :donation_amount, params[:donation_amount], class: "form-control", placeholder: "Amount", id: "total-amount-val"
            .input-group-addon .00
          %button{class: "btn btn-md btn-primary", id: "stripeButton"}
            Donate to 
            = @dancer.first_name
          %span.action
            :javascript
              var handler = StripeCheckout.configure({
                key: "#{Rails.configuration.stripe[:publishable_key]}",
                locale: 'auto',
                token: function(token) {
                  var tokenInput = $("<input type=hidden name=stripeToken />").val(token.id);
                  var emailInput = $("<input type=hidden name=stripeEmail />").val(token.email);
                  $("form").append(tokenInput).append(emailInput).submit();
                }
              });

              $('#stripeButton').on('click', function(e) {
                var amount = $("#total-amount-val").val();
                if(amount > 0) {
                  handler.open({
                    name: "Donation to #{@dancer.first_name}",
                    amount: amount*100,
                    billingAddress: true
                  });
                }
                e.preventDefault();
              });

              // Close Checkout on page navigation
              $(window).on('popstate', function() {
                handler.close();
              });
      %br
      .progress
        .progress-bar.progress-bar-success.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "65", :role => "progressbar", :style => "width: 65%"}
          65% from reaching
          - if @dancer.gender == "male"
            his
          - else
            her
          goal
    - 12.times do
      .panel.panel-default.panel-body
        .row
          - donor = Dancer.all.sample
          .col-md-1
            = image_tag(donor.avatar, class: "img-rounded", size: "40")
          .col-md-11
            = donor.first_name
            donated
            %span.text-success
              =number_to_currency(rand(10..60))
            to
            =@dancer.first_name
            %br
              .text-muted.small
                = time_ago_in_words(rand(20).days.ago)
                ago
  .col-md-1
    - if can? :manage, :all
      %br
      %h3
        %i.fa.fa-key
        Access
      = link_to "Staff", {controller: "/dancers", action: :set_staff}, class: "btn btn-default btn-md btn-block"
      = link_to "Admin", {controller: "/dancers", action: :set_admin}, class: "btn btn-default btn-md btn-block"

