- content_for :head do
  %meta{:content => "Support #{name(@dancer)}'s Campaign", :property => "og:title"}/
  %meta{:content => "#{@dancer.avatar.url(:large)}", :property => "og:image"}/
  %meta{:content => "#{@dancer.avatar.url(:large)}", :property => "og:image:url"}/
  %meta{:content => "#{request.original_url}", :property => "og:url"}/
  %meta{:content => "Support #{name(@dancer)}'s campaign! Wake ‘N Shake is a 12-hour dance marathon held every spring at Wake Forest University, benefiting the Brian Piccolo Cancer Research Fund.", :property => "og:description"}/
.container
  .row
    .col-md-12
      - flash_messages
.container
  .col-md-3
    %br
    =image_tag(@dancer.avatar.url(:medium), size: "190", class: "img-responsive img-rounded center-block")
    - if @dancer.stafftitle.present?
      %p
        %h5.text-center= @dancer.stafftitle
    %p
      %hr
      %b Year:
      =@dancer.year
      %br
      %b Dancing for:
      =@dancer.dancing_for
      %br
      %b Bio:
      =@dancer.bio
      %br
    %hr
    .small.text-muted Share this dancer
    %a.no-underline.icon-facebook{:href => "http://www.facebook.com/", :onclick => "popUp=window.open('http://www.facebook.com/sharer.php?u=#{request.original_url}','popupwindow','scrollbars=yes,width=800,height=400');popUp.focus();return false", :rel => "nofollow"}
      %i.fa.fa-2x.fa-facebook-square
    %a.no-underline.icon-twitter{:href => "http://twitter.com/", :onclick => "popUp=window.open('http://twitter.com/intent/tweet?text=\\'Support #{name(@dancer)}'s Campaign\\' via @wfuwakenshake - #{request.original_url}','popupwindow','scrollbars=yes,width=800,height=400');popUp.focus();return false", :rel => "nofollow"}
      %i.fa.fa-2x.fa-twitter-square
    %a.no-underline.icon-gplus{:href => "http://www.plus.google.com/", :onclick => "popUp=window.open('https://plus.google.com/share?url=#{request.original_url}','popupwindow','scrollbars=yes,width=800,height=400');popUp.focus(); return false", :rel => "nofollow"}
      %i.fa.fa-2x.fa-google-plus-square
    %a.no-underline.icon-email{:href => "mailto:?subject=Support #{name(@dancer)}'s Campaign at Wake 'N Shake!&body=Profile: #{request.original_url}", :rel => "nofollow"}
      %i.fa.fa-2x.fa-share-square
    - if can? :manage, @dancer
      %br
      %hr
      %h4 Send a donation request email
      = form_tag({action: :send_donation_email}) do |f|
        = label :referral_name, "Name", class: "label"
        = text_field_tag :referral_name, "", placeholder: "Enter a name", class: "form-control"
        = label :referral_email, "Email", class: "label"
        = text_field_tag :referral_email,"", placeholder: "Enter an email", class: "form-control"
        = hidden_field_tag :dancer_id, @dancer.id
        %br
        = submit_tag "Send", class: "btn btn-success btn-md"
      %br
      %p A message will be sent to this email from our team. 
    - if can? :manage, Charge
      %hr
      %h4 Donations
      = form_tag '/charges', :method => 'post', :authenticity_token => 'true' do
        = label_tag :amount, "Amount", class: "label"
        = text_field_tag :amount, "Enter amount", class: "form-control"
        = label_tag :email, "Email", class: "label"
        = text_field_tag :email, "Email of donor", class: "form-control"
        = hidden_field_tag :is_donation, value: true
        = hidden_field_tag :charge_type, value: "Dancer"
        = hidden_field_tag :dancer_id, value: @dancer.id
        %br
        %br
        = submit_tag "Save", class: "btn btn-md btn-success"
    - if can? :manage, :all
      %br
      %hr
      %h4 WNS Staff
      = form_for @dancer, {controller: "/dancers", action: :set_committee, id: @dancer.id} do |f|
        = f.label "Staff Title", class: "label"
        = f.text_field :stafftitle, placeholder: "Enter staff title", class: "form-control"
        %br
        = f.submit "Save", class: "btn btn-md btn-success"
      %br
      %h4 Access
      - if @dancer.staff_member
        = link_to "Remove accountant", {controller: "/dancers", action: :set_staff, id: @dancer.id, value: false}, class: "btn btn-danger btn-md btn-block"
      - else
        = link_to "Make accountant", {controller: "/dancers", action: :set_staff, id: @dancer.id, value: true}, class: "btn btn-default btn-md btn-block"
      - if @dancer.admin
        = link_to "Remove admin", {controller: "/dancers", action: :set_admin, id: @dancer.id, value: false}, class: "btn btn-danger btn-md btn-block"
      - else
        = link_to "Make admin", {controller: "/dancers", action: :set_admin, id: @dancer.id, value: true}, class: "btn btn-default btn-md btn-block"

  .col-md-8
    %h2
      = name(@dancer)
      - if @dancer.team.present?
        %small= link_to(@dancer.team.name, @dancer.team)
      %br
      - if can? :manage, @dancer
        = link_to('Edit your profile', edit_dancer_path(@dancer), class: "btn btn-default btn-sm")
        = link_to('Delete your profile', @dancer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm")
        - if @registration_fee
          = link_to('Pay your registration fee', {controller: :charges, action: :registration_fee}, class: "btn btn-primary btn-sm")
    .panel.panel-default.panel-body
      %h4
        = @dancer.first_name
        has raised 
        %span.text-success= number_to_currency(dancer_amount_raised(@dancer))
      .progress
        .progress-bar{:role => "progressbar", :style => "width: #{number_to_percentage(@amount_raised_goal, precision: 0)}", "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{@amount_raised_goal.round}"}
          =number_to_percentage(@amount_raised_goal, precision: 0)
      %hr
      %p.text-muted
        Send a donation to 
        = @dancer.first_name
        to help
        - if @dancer.gender == "Male"
          his
        - else
          her
        campaign!
      = form_tag ENV['PAYMENTURL'], :method => 'post', :authenticity_token => 'false' do
        .form-inline
          .form-group
            .input-group
              %span.pre-input $
              = text_field_tag "donation_amount", 10, class: "form-control input-lg donation-amount", id: "total-amount-val", autofocus: true, autocomplete: "off", value: 10
              = hidden_field_tag "is_donation", "true"
              = hidden_field_tag "charge_type", "Dancer"
              = hidden_field_tag "dancer_id", @dancer.id
              =hidden_field_tag "redirect_url", ENV['REDIRECTURL']
              %span.post-input USD
            %br
            %br
            %button{class: "btn btn-block btn-lg btn-primary donation-amount-btn"}
              %b Give by&nbsp;
              %i.fa.fa-1x.fa-credit-card
    - @donations.each do |donation|
      - donor = Dancer.find_by(email: donation.email)
      .panel.panel-default.panel-body
        .row
          - if donor.present?
            .col-md-1
              = image_tag(donor.avatar.url, class: "img-rounded", size: "40")
          .col-md-8
            - if donor.present?
              = link_to name(donor), donor
              donated
              %span.text-success
                =number_to_currency(donation.amount)
              to
              =@dancer.first_name
            - else
              = @dancer.first_name
              received a
              %span.text-success
                =number_to_currency(donation.amount)
              donation
            - if current_dancer.present?
              - if @dancer.id == current_dancer.id
                %span.text-muted
                  %br
                  Given by 
                  = donation.email
          .col-md-3
            %span.text-muted.small.pull-right.text-right
              = time_ago_in_words(donation.created_at)
              ago
              - if can? :manage, Charge
                %br
                = link_to('Delete this charge', donation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm")
  .col-md-1
