.container
  .col-md-2
    %br
    .thumbnail
      = image_tag(@dancer.avatar.url)
    %p
      Class of 2017
      Dancing for Mom

  .col-md-8
    %h2
      = @dancer.first_name
      = @dancer.last_name
      %small= link_to(@dancer.team.name, @dancer.team)
      %br
      - if can? :manage, :all
        = link_to('Edit', edit_dancer_path(@dancer), class: "btn btn-default btn-sm")
        = link_to('Delete this dancer', @dancer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm")
    .panel.panel-default.panel-body
      .form-inline
        .form-group
          .input-group
            .input-group-addon
              $
            %input.form-control{type: "text", placeholder:"Amount" }
            .input-group-addon .00
          = javascript_include_tag "https://checkout.stripe.com/v2/checkout.js", 
            :class => "stripe-button",
            :"data-key" => "#{Rails.configuration.stripe[:publishable_key]}", 
            :"data-description" => "Donate to #{@dancer.first_name}", 
            :"data-amount" => "500",
            :"data-label" => "Donate to #{@dancer.first_name}",
            :"data-image" => "/app-128x128.png"
          - if can? :manage, :all
            = link_to edit_dancer_path(@dancer), class: "btn btn-default btn-md" do
              %i.fa.fa-money
              Add donation
      %br
      .progress
        .progress-bar.progress-bar-success.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%"}
          %span.sr-only 40% Complete (success)
    .panel.panel-default.panel-body Susan donated $50 to Nick
    .panel.panel-default.panel-body Nick donated $25 to Susan
    .panel.panel-default.panel-body Nick recieved a $40 donation from Mom
    .panel.panel-default.panel-body Susan donated $50 to Nick
    .panel.panel-default.panel-body Nick donated $25 to Susan
    .panel.panel-default.panel-body Nick recieved a $40 donation from Mom
    .panel.panel-default.panel-body Susan donated $50 to Nick
    .panel.panel-default.panel-body Nick donated $25 to Susan
    .panel.panel-default.panel-body Nick recieved a $40 donation from Mom

  .col-md-2
    - if can? :manage, :all
      %br
      %h3
        %i.fa.fa-key
        Access
      = link_to "Staff", {controller: "/dancers", action: :set_staff}, class: "btn btn-default btn-md btn-block"
      = link_to "Admin", {controller: "/dancers", action: :set_admin}, class: "btn btn-default btn-md btn-block"

