<div class="container">
  <div class="col-md-2">
    <%= image_tag(@dancer.avatar.url, class: "img-circle") %>
  </div>
  <div class="col-md-8">
  <p id="notice"><%= notice %></p>

  <div class="page-header">
    <h2>
    <%= @dancer.first_name %>
    <%= @dancer.last_name %> <small><%= link_to @dancer.team.name, @dancer.team %></small>
    </h2>
  </div>
    <h5>Class of <%= @dancer.year %></h5>
  <p>
    <strong>Dancing for </strong>
    <%= @dancer.dancing_for %>
  </p>
  </p>
<div class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" placeholder="Amount">
          <div class="input-group-addon">.00</div>
        </div>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Donation to Wake 'N Shake"
                data-amount="500"
                data-label="Donate to <%= @dancer.first_name %>"
                data-panel-label="Donate {{amount}}">
        </script>
      </div>
    </div>
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= @dancer.amount_raised %>">
      <span class="sr-only"><%= @dancer.amount_raised %> raised!</span>
    </div>
  </div>

  <div class="well">
      Susan donated $50 to Nick
  </div>
  <div class="well">
      Nick donated $25 to Susan
  </div>
  
  <% if can? :manage, :all %>
    <%= link_to 'Edit', edit_dancer_path(@dancer) %> | 
    <%= link_to 'Delete this dancer', @dancer, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  </div>
  <div class="col-md-2"></div>
</div>