= form_for @champion, multipart: true do |f|
  - if @champion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@champion.errors.count, "error")} prohibited this champion from being saved:"
      %ul
        - @champion.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, class: "label"
    = f.text_field :name, class: "form-control", placeholder: "Enter the name of the champion"
    Current champion:  
    = f.check_box :current
  %br
  .field
    = f.label :bio, class: "label"
    = f.text_area :bio, class: "form-control", rows: 10, placeholder: "Enter the description of the champion"
  %br
  .field
    = f.label :team, class: "label"
    = f.text_field :team, class: "form-control", placeholder: "Enter the team name of the champion"
  %br
  .field
    = f.label :photo, class: "label"
    = f.file_field :photo, class: "form-control"
  %br
  .actions
    = f.submit 'Save', class: "btn btn-success btn-md"
