%h1 Listing charges

%table
  %thead
    %tr
      %th Amount
      %th Charged
      %th Is registration fee
      %th Is donation
      %th
      %th
      %th

  %tbody
    - @charges.each do |charge|
      %tr
        %td= charge.amount
        %td= charge.charged
        %td= charge.is_registration_fee
        %td= charge.is_donation
        %td= link_to 'Show', charge
        %td= link_to 'Edit', edit_charge_path(charge)
        %td= link_to 'Destroy', charge, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Charge', new_charge_path
