- content_for :head do
  %meta{:content => "Make a donation", :property => "og:title"}/
  %meta{:content => "#{root_url}/images/app_icon_fb.jpg", :property => "og:image"}/
  %meta{:content => "#{root_url}/images/app_icon_fb.jpg", :property => "og:image:url"}/
  %meta{:content => "#{request.original_url}", :property => "og:url"}/
  %meta{:content => "Donate to the Brian Piccolo Cancer Research Fund! Wake ‘N Shake is a 12-hour dance marathon held every spring at Wake Forest University, benefiting the Brian Piccolo Cancer Research Fund.", :property => "og:description"}/
.container
  .page-header.text-center
    %h1 Support Us
  .row
    .col-md-6
      .well
        %h3 Donate to a dancer
        %p Send a donation to your friends, family, and fellow dancers to help support their fundraising efforts!
        .form-inline
          = form_tag(dancers_path, :method => "get", id: "search-form") do
            .input-group
              = text_field_tag(:search, params[:search], class: "form-control input-md", placeholder: "Search dancers...")
              %span.input-group-btn
                %button.btn.btn-default{type:"button"}
                  %span.glyphicon.glyphicon-search{aria: {hidden:"true"}}
    .col-md-6
      .well
        %h3 Donate to a team
        %p Send a donation to your favorite team to help support their fundraising efforts!
        .form-inline
          = form_tag(teams_path, :method => "get", id: "search-form") do
            .input-group
              = text_field_tag(:search, params[:search], class: "form-control input-md", placeholder: "Search teams...")
              %span.input-group-btn
                %button.btn.btn-default{type:"button"}
                  %span.glyphicon.glyphicon-search{aria: {hidden:"true"}}
  .row
    .col-md-6
      .well
        %h3 Donate to Wake 'N Shake
        %p If you do not want to donate to a specific dancer or team, you can make a general donation to Wake 'N Shake.
        = form_tag ENV['PAYMENTURL'], :method => 'post', :authenticity_token => 'false' do
          .form-inline
            .form-group
              .input-group
                %span.pre-input $
                = text_field_tag "donation_amount", 10, class: "form-control input-lg donation-amount", id: "total-amount-val", autofocus: true, autocomplete: "off", value: 10
                = hidden_field_tag "is_donation", "true"
                = hidden_field_tag "charge_type", "All"
                = hidden_field_tag "redirect_url", ENV['REDIRECTURL']
                %span.post-input USD
              %br
              %br
              %button{class: "btn btn-block btn-lg btn-primary donation-amount-btn"}
                %b Give by&nbsp;
                %i.fa.fa-1x.fa-credit-card
    .col-md-6
      .well
        %h3 Send in donations by mail
        %p We also accept cash or check donations! Checks can be made out to the Brian Piccolo Cancer Research Fund. If you would like this amount to be credited to a specific dancer, organization, or department, simply include a note with that information in the envelope. All donations can be sent to:
        %address
          %strong Brian Piccolo Cancer Fund
          %br
          Wake Forest University
          %br
          PO Box 7526
          %br
          Winston-Salem, NC 27109
  - if can? :manage, :all
    .row
      .col-md-6
        .well
          %h3 Record a donation
          = form_for @charge do |f|
            = f.label :amount, class: "label"
            = f.text_field :amount, placeholder: "Enter amount", class: "form-control"
            = f.label :email, class: "label"
            = f.text_field :email, placeholder: "Email of donor (if available)", class: "form-control"
            = f.hidden_field :is_donation, value: true
            %br
            = f.submit "Save", class: "btn btn-success btn-block btn-md"

