<!DOCTYPE html>
<html>
<head>
  <title>Wake 'N Shake</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Navigation Bar -->
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div id="navbar-header">
				<ul class="nav navbar-nav">
					<li>
						<%= link_to "Wake 'N Shake", root_path, class: "navbar-brand"%>
					</li>
	        <li>
	        	<%= link_to "About Us", controller: "/about", action: :index %>
	        </li>
          <li>
            <%= link_to "Our History", histories_path %>
          </li>
					<li>
						<%= link_to "Donate", controller: "/donations", action: :index %>
					</li>
					<li>
						<%= link_to "Dancers", dancers_path %>
					</li>
          <li>
            <%= link_to "Teams", teams_path %>
          </li>
				</ul>
      	<ul class="nav navbar-nav navbar-right">
          <% if dancer_signed_in? %>
            <li>
              <%= link_to "#{current_dancer.first_name} #{current_dancer.last_name}", edit_dancer_registration_path %>
            </li>
            <li>
              <p class="navbar-btn">
                <%= link_to("Logout", destroy_dancer_session_path, method: :delete, class: "btn btn-primary")%>
              </p>
            </li>
          <% else %>
            <li>
              <%= link_to("Log In", new_dancer_session_path) %>
            </li>
            <li>
              <p class="navbar-btn">
              <%= link_to("Sign Up", new_dancer_registration_path, class: "btn btn-primary") %>
              </p>
            </li>
          <% end %>
      	</ul>
			</div>
		</div>
	</nav>
				<%= yield %>
  <br><br><br>
  <div class="container">
    <div class="row" id="footer">
    <div class="col-md-3">
      <h5>Get to know us</h5>
      <ul class="list-unstyled">
        <li><a href="https://twitter.com/wfuwakenshake">Twitter</a></li>
        <li><a href="http://instagram.com/wfuwakenshake">Instagram</a></li>
        <li><a href="https://www.facebook.com/wfuWakeNShake">Facebook</a></li>
        <li><a href="http://www.youtube.com/wfuwakenshake">YouTube</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Contact information</h5>
      <address>
        <strong>Wake 'N Shake</strong><br>
        c/o Office of Campus Life<br>
        Campus Box 7526<br>
        1834 Wake Forest Rd.<br>
        Winston-Salem, NC 27109<br>
        <a href="mailto:wns@wfu.edu">Email Us</a>
      </address>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
      <h5>Our partners</h5>
      <ul class="list-unstyled">
        <li><a href="http://campuslife.wfu.edu/">WFU Campus Life</a></li>
        <li><a href="http://www.wakehealth.edu/Comprehensive-Cancer-Center/">WFBMC Comprehensive Cancer Center</a></li>
        <li><a href="http://philanthropy.campuslife.wfu.edu/brian-piccolo-cancer-fund-drive/">Brian Piccolo Cancer Research Fund</a></li>
      </ul>
      <p>This website was built by <a href="http://1834wfu.com">1834 Software</a></p>
    </div>
  </div>
  </div>
  <br>
</body>
</html>
