!!!
%html
  %head
    %title Wake 'N Shake
    = stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true)
    = javascript_include_tag('application', 'data-turbolinks-track' => true)
    = csrf_meta_tags
    %script{:src => "https://checkout.stripe.com/checkout.js"}
    = analytics_init if Rails.env.production?
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    // Facebook sharing
    %meta{:content => "Wake 'N Shake", :property => "og:site_name"}/
    - if content_for?(:head)
      = content_for(:head)
    - else
      %meta{:content => "Wake 'N Shake Dance Marathon", :property => "og:title"}/
      %meta{:content => "#{root_url}images/app_icon_fb.jpg", :property => "og:image:url"}/
      %meta{:content => "#{root_url}images/app_icon_fb.jpg", :property => "og:image"}/
      %meta{:content => "#{request.original_url}", :property => "og:url"}/
      %meta{:content => "Wake ‘N Shake is a 12-hour dance marathon held every spring at Wake Forest University, benefiting the Brian Piccolo Cancer Research Fund. For 12-hours, students, alumni, and faculty members come together to stay standing in support of all those affected by cancer, asking for donations in support of their participation.", :property => "og:description"}/

    %script{:src => "https://use.typekit.net/mff8khh.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
    :javascript
      var myVideo = document.getElementById('video');
      if (typeof myVideo.loop == 'boolean') { // loop supported
          myVideo.loop = true;
      } else { // loop property not supported
          myVideo.on('ended', function () {
          this.currentTime = 0;
          this.play();
          }, false);
      }
      myVideo.play();
  %body
    %nav.navbar.navbar-inverse
      .container
        #navbar-header
          %ul.nav.navbar-nav
            %li= link_to("Wake 'N Shake", root_path, class: "navbar-brand")
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} About Us
              %ul.dropdown-menu
                %li= link_to("Our Mission", controller: "/about", action: :index)
                %li= link_to("Committee", controller: "/about", action: :committee)
                %li= link_to("Our History", histories_path)
            %li= link_to("Champions", champions_path)
            %li= link_to("Donate", charges_path)
            %li= link_to("Dancers", dancers_path)
            %li= link_to("Teams", teams_path)
            %li= link_to("Our Sponsors", sponsors_path)
        %ul.nav.navbar-nav.navbar-right
          %li.divider-vertical
          - if can? :manage, :all
            %li
              = link_to controller: "/admin", action: :index do
                %i.fa.fa-key.text-warning
          - if dancer_signed_in?
            %li
              = link_to("Profile", dancer_path(current_dancer))
            %li
              %p.navbar-btn= link_to("Logout", destroy_dancer_session_path, method: :delete, class: "btn btn-sign-up")
          - else
            %li
              = link_to("Log In", new_dancer_session_path)
            %li
              %p.navbar-btn= link_to("Sign Up", new_dancer_registration_path, class: "btn btn-sign-up")
    = yield
  %br
  %br
  %br
  #footer
    .container
      .row
        .col-md-4
          %h5 Get to know us
          %ul.list-unstyled
            %li
              %a{href: "https://twitter.com/wfuwakenshake"}Twitter
            %li
              %a{href: "http://instagram.com/wfuwakenshake"}Instagram
            %li
              %a{href: "https://www.facebook.com/wfuWakeNShake"}Facebook
            %li
              %a{href:"http://www.youtube.com/wfuwakenshake"}YouTube
        .col-md-4
          %h5 Contact information
          %address
            %strong Wake 'N Shake
            %br
            c/o Pro Humanitate Institute
            %br
            Campus Box 7526
            %br
            1834 Wake Forest Rd.
            %br
            Winston-Salem, NC 27109
            %br
            %a{href: "mailto:wns@wfu.edu"}Email Us
        .col-md-4
          %h5 Our partners
          %ul.list-unstyled
            %li 
              %a{href: "http://campuslife.wfu.edu/"}WFU Campus Life
            %li
              %a{href: "http://www.wakehealth.edu/Comprehensive-Cancer-Center/"}WFBMC Comprehensive Cancer Center
            %li
              %a{href: "http://philanthropy.campuslife.wfu.edu/brian-piccolo-cancer-fund-drive/"}Brian Piccolo Cancer Research Fund
          %p 
            This website was built by 
            %a{href: "http://1834wfu.com"}1834 Software
          %br
